body {
  display: block;
  text-align: center;
}
.tableauPlaceholder {
  margin: auto;
}

.main {
  color: white;
}

.desc {
  text-align: center;
  font-size: 25px;
  margin: 5%;
}

.list1,
li {
  text-align: left;
  margin: 2%;
}

.main2 {
  margin: auto;
  width: 75%;
}

.card {
  text-align: center;
  padding: 1% 0;
  color: black;
  border-radius: 20px;
  font-size: 15px;
}

.visualise {
  margin: 2%;
  padding: 1% 2%;
  font-size: 24px;
  color: white;
  border-radius: 15px;
  border: none;
  background-color: #04aa6d;
}

.visualise:hover {
  background-color: #015a39;
}

.bar {
  fill: green;
}

#AllYears {
  width: 1200px;
  height: 600px;
}

#Plotly {
  justify-content: center;
}

.row {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: black;
  z-index: 10;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.item {
  color: white;
  padding: 10px;
  margin: 10px;
}

#d3 {
  display: none;
}

#plotly {
  display: none;
}

button {
  background-color: black;
  padding: 0 2%;
}

button:hover{
  background-color: grey;
}

#home {
  display: flex;
  flex-direction: column;
}

#tableau {
  display: none;
}

/* .factors {
  display: flex;
  align-items: cente;
} */

.factor {
  font-size: 25px;
}